mat-grid-list {
    width: 90%;
    margin: auto;
}

mat-card-content #description{
    font-size: 1.3em;
    margin-bottom: 0.5em;
    color: gray
}

mat-card img {
    width: 100%;
    height: auto;
    margin: auto;
}

mat-card {
    box-sizing: border-box;
    width: 80%;
    height: 95%;
}

#page {
    width: 70%;
    padding: 1%;
    margin: auto;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.5);
}

#tags{
    margin-bottom: 0%;
    font-size: 0.5em;
}

#form{
    position: absolute;
    bottom: 0;
}

#title{
    margin-top: 0.5em;
}

