<mat-tab-group >
    <mat-tab label="Adatok" >
      <h2>Név: {{loggedIn.name}}</h2>
      <h2>Felhasználónév: {{loggedIn.userName}}</h2>
      <h2>Jogosultág: {{loggedIn.role}}</h2>
    </mat-tab>
    <mat-tab label="Rendelések">
        <table mat-table [dataSource]="getReservations()" class="mat-elevation-z1">
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Dátum </th>
                <td mat-cell *matCellDef="let product"> {{product.date.toLocaleString()}} </td>
              </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Termék </th>
              <td mat-cell *matCellDef="let product"> {{product.products[0].product.name}} </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef> Mennyiség </th>
              <td mat-cell *matCellDef="let product"> {{product.products[0].pieces}}db </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
          </table>
    </mat-tab>
</mat-tab-group>