<div id="page" *ngIf="authService.isLoggedIn">
  <mat-tab-group [selectedIndex]="selectedIndex">
    <mat-tab label="Adatok">
      <mat-card>
        <mat-card-title>
          Hello {{authService.user.name}}!
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content id="div">
          <h3>Felhasználónév: {{authService.user.userName}}</h3>
          <h3>E-mail cím: {{authService.user.email}}</h3>
          <h3>Jogosultág: {{authService.user.role}}</h3>
        </mat-card-content>
        <br>
      </mat-card>
    </mat-tab>
    <mat-tab label="Rendeléseim">
      <mat-accordion *ngFor="let reservation of reservations">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title> {{reservation.id}} </mat-panel-title>
            <mat-panel-description> {{getReservationAsString(reservation.id)}} </mat-panel-description>
            </mat-expansion-panel-header>
            <table mat-table [dataSource]="getReservationProducts(reservation.id)" class="mat-elevation-z1">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let product"> {{product.product.id}} </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Termék </th>
                <td mat-cell *matCellDef="let product"> {{product.product.name}} </td>
              </ng-container>
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Mennyiség </th>
                <td mat-cell *matCellDef="let product"> {{product.quantity}}db </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <button mat-button (click)="deleteOrder(reservation.id)" routerLink="profile">Visszamondás</button>
          </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
    <mat-tab label="Termék hozzáadás" *ngIf="authService.user.role==='ROLE_ADMIN'">
      <mat-card>
      <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Név">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput formControlName="description" placeholder="Leírás">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput formControlName="quantity" placeholder="Mennyiség">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-select placeholder="Toppings" [formControl]="toppings" multiple>
              <mat-option *ngFor="let tag of tagList" [value]="tag.name">{{tag.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        <br>
        <button mat-flat-button type="submit" color="primary">Termék hozzáadása</button>
        <br>
        <button mat-raised-button color="warn">{{message}}</button>

      </form>
      </mat-card>
      <br>
    </mat-tab>
  </mat-tab-group>
</div>