<div id="page" *ngIf="authService.isLoggedIn">
  <mat-tab-group>
    <mat-tab label="Adatok">
      <mat-card>
        <mat-card-title>
          Hello {{authService.user.name}}!
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content id="div">
          <h3>Felhasználónév: {{authService.user.userName}}</h3>
          <h3>E-mail cím: {{authService.user.email}}</h3>
          <h3>Jogosultág: {{authService.user.role}}</h3>
        </mat-card-content>
        <br>
      </mat-card>
    </mat-tab>
    <mat-tab label="Rendeléseim">
      <mat-grid-list cols="4" rowHeight="3:5">
        <mat-grid-tile *ngFor="let reservation of reservations">
          <mat-card id="card">
            <mat-card-title id="title">Rendelés azonosítója: {{reservation.id}}</mat-card-title>
            <mat-card-content id="content" *ngFor="let product of reservation.products">
              <p id="description">{{product.name}}</p>
            </mat-card-content>
            <button mat-stroked-button id="delete" routerLink="" (click)="deleteReservation(reservation)">Rendelés törlése</button>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
</div>